@using AspNetCore.ReCaptcha
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model BookingQueue.Common.Models.ViewModels.BookViewModel

@{
    ViewData["Title"] = "Система предварительной записи ГНС КР";
}

<div class="text-center">
    <h1 class="display-4">Система предварительной записи ГНС КР</h1>
</div>

<form asp-controller="Home" asp-action="Index" method="post" class="row g-3 needs-validation" novalidate>
    @Html.AntiForgeryToken()

    <p class="mt-5 mb-3 text-center">Для начала процесса записи заполните форму, представленную ниже. Поля, отмеченные звездочкой (*) являются обязательными.</p>
    <div class="col-12 col-md-6">
        <div class="form-group">
            <div class="w-100">
                <label>
                    <span class="d-inline">
                        Имя
                        <div class="d-inline text-danger">*</div>
                    </span>
                </label>
                <div class="bs-custom-control w-100 d-flex flex-wrap align-items-center">
                    <div class="w-100">
                        @Html.TextBoxFor(m => m.Name, new { @class = "form-control", required="required" })
                        <div class="invalid-feedback">Имя не может быть пустым.</div>
                        @Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-12 col-md-6">
        <div class="form-group">
            <div class="w-100">
                <label>
                    <span class="d-inline">
                        Номер телефона
                        <div class="d-inline text-danger">*</div>
                    </span>
                </label>
                <div class="bs-custom-control w-100 d-flex flex-wrap align-items-center">
                    <div class="w-100">
                        @Html.TextBoxFor(m => m.PhoneNumber, new { @class = "form-control phone-input", required="required" })
                        <div class="invalid-feedback">Номер телефона не может быть пустым.</div>
                        @Html.ValidationMessageFor(m => m.PhoneNumber, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-12">
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="invalidCheck" required>
            <label class="form-check-label" for="invalidCheck">
                Согласен с <a asp-area="" asp-controller="Home" asp-action="Privacy" target="_blank">условиями</a>
            </label>
            <div class="invalid-feedback">
                Пожалуйста, примите условия, прежде чем продолжить.
            </div>
        </div>
    </div>

    <div class="col-12 mt-3">
        @Html.ValidationMessage("Recaptcha", "", new { @class = "text-danger" })
        @Html.ReCaptcha()

        <button type="submit" class="btn btn-primary mt-3">Далее</button>
    </div>
</form>