@{
    ViewData["Title"] = Localization.GetLocalizedString("Branch_Index_Title");
    var filial = new List<dynamic>
    {
        new
        {
            name = "ЦОП по г.Бишкек",
            connection = "CopBishkek",
            isProgress = false
        },
        new
        {
            name = "Октябрьский УГНС",
            connection = "OctoberGNS",
            isProgress = false
        },
        new
        {
            name = "Ленинский УГНС",
            connection = "LeninskiGNS",
            isProgress = false
        },
        new
        {
            name = "Аламудунский УГНС",
            connection = "AlamedinGNS",
            isProgress = false
        },
        new
        {
            name = "Первомайский УГНС",
            connection = "PervomayGNS",
            isProgress = false
        },
        new
        {
            name = "Свердловский УГНС",
            connection = "SverdlovskiGNS",
            isProgress = false
        },
        new
        {
            name = "ЦОП по г.ОШ",
            connection = "CopOsh",
            isProgress = false
        },
        new
        {
            name = "Джалал-Абадский УГНС (В процессе)",
            connection = "",
            isProgress = true
        }
    };
}

<div class="mb-3">
    <h4>
        <bold>@ViewData["Title"]</bold>
    </h4>
</div>
<hr>

<div class="g-3 mt-3">
    <h5 class="mt-5">
        <bold>@Localization.GetLocalizedString("Branch_Index_Choose")</bold>
    </h5>

    <div class="row">
        @foreach (var f in filial)
        {
            if (!f.isProgress)
            {
                <div class="mt-3 col-12 col-md-3">
                    <a asp-controller="Database" asp-action="SwitchDatabase" asp-route-databaseName="@f.connection" class="service_card link-div p-4">
                        <div class="d-flex align-items-center">
                            <svg style="margin-right: 5px;" xmlns="http://www.w3.org/2000/svg" width="30" height="24" viewBox="0 0 24 24" fill="none">
                                <rect x="1" width="10" height="24" fill="white"/>
                                <rect x="13" y="12" width="10" height="12" fill="white"/>
                                <rect x="3" y="3" width="2" height="3" fill="#0C949A"/>
                                <rect x="15" y="14" width="2" height="2" fill="#0C949A"/>
                                <rect x="3" y="9" width="2" height="3" fill="#0C949A"/>
                                <rect x="15" y="18" width="2" height="2" fill="#0C949A"/>
                                <rect x="7" y="3" width="2" height="3" fill="#0C949A"/>
                                <rect x="19" y="14" width="2" height="2" fill="#0C949A"/>
                                <rect x="7" y="9" width="2" height="3" fill="#0C949A"/>
                                <rect x="19" y="18" width="2" height="2" fill="#0C949A"/>
                            </svg>
                            <p class="mb-0 mt-0">@f.name</p>
                        </div>
                    </a>
                </div>
            }
            else
            {
                <div class="mt-3 col-12 col-md-3">
                    <a href="/" class="service_card link-div p-4">
                        <div class="d-flex align-items-center">
                            <svg style="margin-right: 5px;" xmlns="http://www.w3.org/2000/svg" width="30" height="24" viewBox="0 0 24 24" fill="none">
                                <rect x="1" width="10" height="24" fill="white"/>
                                <rect x="13" y="12" width="10" height="12" fill="white"/>
                                <rect x="3" y="3" width="2" height="3" fill="#0C949A"/>
                                <rect x="15" y="14" width="2" height="2" fill="#0C949A"/>
                                <rect x="3" y="9" width="2" height="3" fill="#0C949A"/>
                                <rect x="15" y="18" width="2" height="2" fill="#0C949A"/>
                                <rect x="7" y="3" width="2" height="3" fill="#0C949A"/>
                                <rect x="19" y="14" width="2" height="2" fill="#0C949A"/>
                                <rect x="7" y="9" width="2" height="3" fill="#0C949A"/>
                                <rect x="19" y="18" width="2" height="2" fill="#0C949A"/>
                            </svg>
                            <p class="mb-0 mt-0">@f.name</p>
                        </div>
                    </a>
                </div>
            }
        }
    </div>
</div>